.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: #edf2f6;
}

.app_name {
  font-weight: bold;
  font-size: 40px;
  color: #009999;
  margin: 0;
}

.inner_container {
  background-color: #fff;
  padding: 48px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px gray;
  gap: 48px;
  margin: 24px;
}

.footer_container {
  position: absolute;
  bottom: 0;
}
