.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  min-width: 130px;
  height: 90px;
  gap: 8px;
}

.container:hover {
  opacity: 0.6;
}

.p {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.information {
  color: black;
}

.success {
  color: skyblue;
}

.redirect {
  color: #b3b300;
}

.client_error {
  color: green;
}

.server_error {
  color: #ef4868;
}
