.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question_counter {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .question_counter {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    white-space: nowrap;
  }
}

.question_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 200px;
  margin-left: 8px;
  margin-right: 8px;
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  .question_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 62px;
    flex-direction: column;
    gap: 16px;
  }
}

.question_and_cards {
  display: flex;
  gap: 16px;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 32px;
}

@media screen and (min-width: 1024px) {
  .question_and_cards {
    display: flex;
    flex-direction: row;
    gap: 8px;
    box-sizing: border-box;
    margin-top: 32px;
  }
}

.card_container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 330px;
  margin-right: 8px;
  margin-left: 8px;
}

.user_status_container {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .user_status_container {
    flex-direction: row;
    justify-content: center;
  }
}

.information {
  color: black;
}

.success {
  color: skyblue;
}

.redirect {
  color: #b3b300;
}

.client_error {
  color: green;
}

.server_error {
  color: #ef4868;
}
